<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
      </head>
        <div class="container">
        <div class="card" >
            <div class="alert alert-secondary" role="alert">
                    <h1 class="alert-heading" style="text-align: center;">P O S T R E R I A - D O L C E - D E L I Z I A !</h1>
                    <h2 class="alert-heading" style="text-align: center;">R E G I S T R O - D E - V E N T A S!</h2>
                    <p style="text-align: center;">Aca podra tener detalladamente un buen control para el registro de los productos disponibles.</p>
                    <hr>
                    <p style="text-align: center;" class="mb-0">Informacion del producto.</p>
                </div>
            <div class="card-body">
                <form id="frm" onsubmit="return validate()">
                    <div class="form-group row m-3">    
                        <div class="form-group col-sm-6">
                            <label for="name">Id Producto</label>
                            <input type="text" id="code" class="form-control" required></input>
                        </div>

                        
                        <div class="form-group col-sm-6">
                            <label for="tipopago">Productos en Venta</label>
                            <select id="optionproductos" class="form-select"  >
            
                                <option>PRODUCTOS</option>
                                <option>Postre Limon</option>
                                <option>Postre Maracuya</option>
                                <option>Hamburguesa Sencilla</option>
                                <option>Cocacola 1.5</option>
                                <option>Banana Split</option>
                                <option>Salchipapa</option>
          
                            </select>
                          </div>
                    </div>

                    <div class="form-row row m-3">
                        <div class="form-group col-sm-6">
                            <label for="name">Descripcion Producto</label>
                            <input type="text" id="name" class="form-control" required></input>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="date">Fecha de Vencimiento</label>
                            <input type="text" id="dateBirthday" class="form-control" required></input>
                        </div>

                    </div>

                    <div class="form-row row m-3">

                        <div class="form-group col-sm-4">
                            <label for="cantidad">Cantidad</label>
                            <input type="text" id="cantidad" class="form-control" onkeypress="return onlyNums(event)" required></input>
                           
                        </div>
                        
                        <div class="form-group col-sm-4">
                            <label for="salary">Valor</label>
                            <input type="text" id="salary" class="form-control" onkeypress="return onlyNums(event)" required></input>
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="tipopago">Tipo de Producto</label>
                            <select id="optionproductos" class="form-select">
            
                                <option>PRODUCTO</option>
            
                                <option>POSTRES</option>
                                
                                <option>COMIDA RAPIDA</option>
                                
                                <option>GASEOSAS</option>

                                <option>HELADO</option>

            
                            </select>
                          </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col col-sm">
                            <button type="submit" class="btn btn-outline-dark form-control" onclick="validate()">E N V I A R</button>
                        </div>

                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="table-responsive">
                    <table class="table table-dark">
                        <thead>
                        <tr class="table-success table-dark ">
                            <th>Id Producto</th>
                            <th>Descripcion<br>Producto</th>
                            <th>Fecha<br>Vencimiento</th>
                            <th>Valor</th>
                            <th>Cantidad</th>
                            <th>Valor del IVA</th>
                            <th>Subtotal</th>
                            <th>Total de las ventas</th>
                        </tr>
                        </thead>
                        <tbody id="tblBody">

                        </tbody>
                    </table>
                </div>
            </div>
        <div class="container">
            <div class="alert alert-dark" role="alert">
               <p id="resultados"></p>
            </div>
        </div>

       
        
    
        </div>
    </div>
    <script src=""></script>
</body>
</html>
